.phone {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
  }
  
  .background {
    background-image: url('https://res.cloudinary.com/det5cjrev/image/upload/v1757166251/Frame_1000002366_ds1jbd.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
  }
  
  .dot {
    width: 20px;
    margin: 0 5px;
  }
  
  .gradient-text {
    background: linear-gradient(90deg, #800080, #ff69b4, #ff0000, #0000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 53px;
    font-weight: 700;
  }

  .some{
    background-color: rgba(0, 31, 71, 1);
  }