.holder{
    background-color: black;
}

.phone{
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 10px;
}



.background{
    background-image: url(https://res.cloudinary.com/det5cjrev/image/upload/v1757166251/Frame_1000002366_ds1jbd.png);
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dot{
    width: 20px;
    margin-left: 50px;
}

.why{
    height: 30px;
}

.adjust{
    font-size: 12px;
}

.hmm{
    justify-content: center;
    display: inline-flex;
}

.shit{
    margin-left: 30px;
}